html
{
    padding: 0px;
    font-family: arial, sans-serif;
    background-color: white;
}

a
{
    text-decoration: none;
    color: white;
}

ul
{
    padding-left: 0px;
}

li
{
    list-style: none;
    line-height: 16px;
    //padding: 7px 2px 6px 12px;
    padding: 10px;
    //margin: 10px;
}

li:hover
{
    font-weight: bolder;
}

.headerbar
{
    height: 120px;
    width: 100%;
    color: white;
    font-weight: bolder;
    font-size: 30pt;
}

.headerextension
{
    height: 120px;
    width: 100%;
    margin-left: 0px;
}

.fltleft
{
    float: left;
}

.navigation
{
    background-color: #5B93CA;
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
}

.navitem
{
    color: white;
    font-weight: bold;
    border-right: 1px solid black;
    padding: 10px;
    margin-top: 5px;
}

.navitem:last-child
{
    border: 0px;
}

.brown
{
    background-color: #6D4D36;
    height: 26px;
}

.blue
{
    background-color: #5B93CA;
    height: 94px;
}

.clear
{
    clear: both;
}

select#soflow, select#soflow-color {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   margin: 20px;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 300px;
}
